/*---------------------------------------------------------------------------*\
    #COMPONENTS > #BUTTONS
\*---------------------------------------------------------------------------*/

button.btn {
    border: none;
    border-radius: 50px;
    padding: 15px;
}

.btn-primary {
    background-color: $color-primary;

    &:hover {
        background-color: darken($color-primary, 5%);
    }
}


#nf-field-8 {
    border: none;
    border-radius: 50px;
    padding: 15px;
    background-color: $color-primary;
    color: $color-white;
    float: right;

    &:hover {
        background-color: darken($color-primary, 5%);
    }

    &::before {
        content: "Close";
        display: block;
        color: black;
    }
}
