/*---------------------------------------------------------------------------*\
    #COMPONENTS > #NAVIGATION
\*---------------------------------------------------------------------------*/

.bg-light {
    opacity: 0.9;
}

a.navbar-brand {
    max-width: 55px;
}

#navbarNavDropdown {
  li a {
      color: $color-primary;
      text-transform: uppercase;
  }
}

.navbar-collapse {
    flex-direction: row-reverse;
}

li.menu-item {
    margin-left: 10px;
}

/**
Fixed navigation on scroll
**/

.wrapper-navbar {
    height: 90px;
    transition: all .5s ease;
}

.scrolled {
    position: fixed;
    width:100%;
    box-shadow: 0px 0px 5px $color-gray-dark;
    top: 0px;
    transition: all .5s ease;
    animation: smoothScroll .5s forwards;
    z-index: 100;

    &.bg-light {
        opacity: 0.85;
        height: 60px;
        transition: all .5s ease;

        @include media-breakpoint-down(sm) {
            height: auto;
        }
    }
}

@keyframes smoothScroll {
    0% {
        transform: translateY(-200px);
    }
    100% {
        transform: translateY(0px);
    }
}
