/*---------------------------------------------------------------------------*\
    #COMPONENTS > #NAVIGATION
\*---------------------------------------------------------------------------*/

.navbar {
    padding: 0 1rem;
}

.bg-light {
    background: rgba(255, 255, 255, .8) !important;
}

a.navbar-brand {
    max-width: 60px;
}

#navbarNavDropdown {
  li a {
      font-size: 1rem;
      color: $color-primary;
      text-transform: uppercase;
  }

  .navbar-nav {
      float: right;
      text-align: right;
  }
}

.navbar-collapse {
    flex-direction: row-reverse;
}

li.menu-item {
    margin-left: 10px;
}

/**
Fixed navigation on scroll
**/

.wrapper-navbar {
    height: 90px;
    transition: all .5s ease;
}

.scrolled {
    position: fixed;
    width:100%;
    box-shadow: 0px 0px 5px $color-gray-dark;
    top: 0px;
    transition: all .5s ease;
    animation: smoothScroll .5s forwards;
    z-index: 100;

    &.bg-light {
        opacity: 0.85;
        height: 70px;
        transition: all .5s ease;

        @include media-breakpoint-down(sm) {
            height: auto;
        }
    }

    & a.navbar-brand {
        max-width: 55px;
    }
}

@keyframes smoothScroll {
    0% {
        transform: translateY(-200px);
    }
    100% {
        transform: translateY(0px);
    }
}
