/*---------------------------------------------------------------------------*\
    #COMPONENTS > #NAVIGATION
\*---------------------------------------------------------------------------*/

a.navbar-brand {
    max-width: 55px;
}

#navbarNavDropdown {
  li a {
      color: $color-primary;
  }
}

/**
Fixed navigation on scroll
**/

.wrapper-navbar {
    height: 90px;
    transition: all .5s ease;
}

.scrolled {
    position: fixed;
    width:100%;
    box-shadow: 0px 0px 5px #384047;
    top: 0px;
    transition: all .5s ease;
    animation: smoothScroll .5s forwards;
    z-index: 100;

    &.bg-dark {
        opacity: 0.85;
        height: 60px;
        transition: all .5s ease;

        @include media-breakpoint-down(sm) {
            height: auto;
        }
    }
}

@keyframes smoothScroll {
    0% {
        transform: translateY(-200px);
    }
    100% {
        transform: translateY(0px);
    }
}


/**
Adjusted H1 headings for fixed navigation


h1:before {
    display: block;
    content: " ";
    height: 70px;
    margin-top: -70px;
    visibility: hidden;

    @include media-breakpoint-down(sm) {
        height: 260px;
        margin-top: -260px;
    }
}

h1#first-heading:before {
    display: block;
    content: " ";
    height: 160px;
    margin-top: -160px;
    visibility: hidden;

    @include media-breakpoint-down(sm) {
        height: 260px;
        margin-top: -260px;
    }
}
**/

/**
*** Adjusted sections for fixed navigation
**/


#about,
#projects,
#careers,
#contact {
    padding: 60px 0;
    margin-top: -40px;

    @include media-breakpoint-down(sm) {
        padding: 85px 0;
        margin-top: -80px;
    }
}
