/*---------------------------------------------------------------------------*\
    #BASE > #FOOTER
\*---------------------------------------------------------------------------*/

#wrapper-footer {
    background-color: $color-gray-dark;
    color: $color-white;

    &.wrapper {
        padding: 0;
    }

    .row {
        margin-bottom: 15px;

        a {
            color: $color-white;
        }

        h5 {
            margin: 20px 0;
        }

    }

    .site-rights {
        padding: 10px 0;
        background-color: darken($color-primary, 10%);
        color: $color-white;
    }
}
