/*---------------------------------------------------------------------------*\
    #BASE > #SECTION
\*---------------------------------------------------------------------------*/

section#projects {
    background-color: $color-gray-light;
}

section#values {
    background-color: $color-primary;
    color: $color-white;
    padding: 40px 0;
}

section#culture {
    padding: 40px 0;
}
