/*---------------------------------------------------------------------------*\
    #BASE > #WRAPPER
\*---------------------------------------------------------------------------*/

#content {
    background-color: $color-white;
    padding: 2rem;
    max-width: 600px;
}
