/*---------------------------------------------------------------------------*\
    #VARIABLES > #COLORS
\*---------------------------------------------------------------------------*/

$color-primary: #007CC3;
$color-gray-dark: #585858;
$color-gray-light: #f8f8f8;
$color-white: #ffffff;
