/*---------------------------------------------------------------------------*\
    #VARIABLES > #COLORS
\*---------------------------------------------------------------------------*/

$color-primary: #b3a571;
$color-arondale-gray: #3f3f3f;

$color-gray-light: #f8f8f8;
$color-white: #ffffff;
