/*---------------------------------------------------------------------------*\
    #VARIABLES > #TYPOGRAPHY
\*---------------------------------------------------------------------------*/

$font-serif: 'Libre Baskerville', serif;
$font-sans-serif: 'Raleway', 'Arial', sans-serif;

/**
 * Based on a modular scale where:
 * Base = 1rem
 * Ratio = 1.618
 */

$font-size-xs: 1rem/1.618*1.5;
$font-size-s: 1rem/1.618;
$font-size-m: 1rem;
$font-size-l: 1rem*1.618*0.4;
$font-size-xl: 1rem*1.618*0.8;
$font-size-xxl: 1rem*1.618;
$font-size-xxxl: 1rem*1.618*1.5;


$font-size-h1: $font-size-xxxl;
$font-size-h2: $font-size-xxl;
$font-size-h3: $font-size-xl;
$font-size-h4: $font-size-l;
$font-size-h5: $font-size-m;
$font-size-h6: $font-size-s;
$font-size: $font-size-m;

$line-height-base: 1.5;

$font-weight-light: 200;
$font-weight: 400;
$font-weight-bold: 600;
